<div class = "container">
    <div class ="Contact-box">
        <div class ="left"></div>
        <div class ="right">
            <h2>Contact Us</h2>
            <input type="text" class="field" placeholder="Your Name">
            <input type="email"  class="field"  placeholder="Your Email">
            <input type="text" class="field" placeholder="Your phone">
            <textarea class="field area" placeholder="message"></textarea>
            <button class="btn">send</button>
        </div>
    </div>
</div>
   
